<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/blog.css}">

<header>
  <h4>My Blog Application</h4>
  <div><a href="">Login</a></div>

</header>
<section>
  <h1 id="title">Blog Post Title</h1>
  <div id="blogInfo"><span>Ashok Kumar, </span>
    <span>18/10/20</span> </div>

  <p id="blogContent">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis beatae vero ducimus recusandae
    explicabo. Asperiores eveniet perspiciatis numquam reiciendis possimus delectus, totam molestias, a
    aliquam perferendis repudiandae laboriosam maxime? Velit natus nam consequatur doloremque corrupti iusto
    quas. Recusandae eum quas doloremque totam atque, itaque tempore labore similique aliquam ea in.
    <br><br>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis beatae vero ducimus recusandae
    explicabo. Asperiores eveniet perspiciatis numquam reiciendis possimus delectus, totam molestias, a
    aliquam perferendis repudiandae laboriosam maxime? Velit natus nam consequatur doloremque corrupti iusto
    quas.
    <br><br>

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis beatae vero ducimus recusandae
    explicabo. Asperiores eveniet perspiciatis numquam reiciendis possimus delectus, totam molestias, a
    aliquam perferendis repudiandae laboriosam maxime? Velit natus nam consequatur doloremque corrupti iusto
    quas.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis beatae vero ducimus recusandae
    explicabo. Asperiores eveniet perspiciatis numquam reiciendis possimus delectus, totam molestias, a
    aliquam perferendis repudiandae laboriosam maxime? Velit natus nam consequatur doloremque corrupti iusto
    quas.
  </p>
</section>
</body>
</html>