<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/home.css}">
<header>
    <h1>My Blog Application</h1>
    <div>
        <input id="search" type="text" placeholder="Search">
        <a href="">Login</a>
    </div>
</header>
<section>
    <div class="blog" th:action="@{/blog}" th:each="post:${posts}" method="post">
        <h1 class="title" th:text="${post.title}"></h1>
        <span th:text="${post.author}"> </span>
        <span th:text="${post.published_at}"></span><br>
        <p class="excerpt" th:text="${post.excerpt}"></p>

        <form th:action="@{/post}" method="post" >
        <input  type="hidden"  name="postId" th:value="${post.id}">
        <button type="submit">Read More</button>
        </form>

    </div>
</section>
<footer>
    <p> < Previous </p>
    <p> Next > </p>
</footer>
</body>
</html>